body {
  background-image: url("station.jpg");
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  text-align: center;
  height: 100vh;
}

.container {
  background: rgb(113, 243, 217);
  max-width: 80%;
  margin: auto;
  border: 5px solid black;
  border-radius: 10px;
}

h1 {
  margin-top: 100px;
  margin-bottom: 10px;
  /* color: antiquewhite; */
}

h2 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 20px;
  /* color: beige; */
}

button {
  border: 2px solid pink;
  padding-top: 10px;
  padding-bottom: 10px;
  /* color: white; */
  font-weight: bold;
  width: 200px;
  margin-bottom: 5px;
  border-radius: 5px;
}

#increment-btn {
  background: rgb(185, 8, 43);
}

#save-btn {
  background: darkgreen;
}

#save-el {
  font-size: 20px;
  font-weight: bold;
}
